<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>不限</string>
	<key>1</key>
	<string>化学原料</string>
	<key>2</key>
	<string>颜料油漆</string>
	<key>3</key>
	<string>日化用品</string>
	<key>4</key>
	<string>燃料油脂</string>
	<key>5</key>
	<string>医药</string>
	<key>6</key>
	<string>金属材料</string>
	<key>7</key>
	<string>机械设备</string>
	<key>8</key>
	<string>手工器械</string>
	<key>9</key>
	<string>科学仪器</string>
	<key>10</key>
	<string>医疗器械</string>
	<key>11</key>
	<string>灯具空调</string>
	<key>12</key>
	<string>运输工具</string>
	<key>13</key>
	<string>军火烟火</string>
	<key>14</key>
	<string>珠宝钟表</string>
	<key>15</key>
	<string>乐器</string>
	<key>16</key>
	<string>办公用品</string>
	<key>17</key>
	<string>橡胶制品</string>
	<key>18</key>
	<string>皮革制品</string>
	<key>19</key>
	<string>建筑材料</string>
	<key>20</key>
	<string>家具</string>
	<key>21</key>
	<string>厨房洁具</string>
	<key>22</key>
	<string>绳网袋篷</string>
	<key>23</key>
	<string>纱线丝</string>
	<key>24</key>
	<string>布料床单</string>
	<key>25</key>
	<string>服装鞋帽</string>
	<key>26</key>
	<string>纽扣拉链</string>
	<key>27</key>
	<string>地毯席垫</string>
	<key>28</key>
	<string>健身器材</string>
	<key>29</key>
	<string>食品</string>
	<key>30</key>
	<string>方便食品</string>
	<key>31</key>
	<string>饲料种子</string>
	<key>32</key>
	<string>啤酒饮料</string>
	<key>33</key>
	<string>酒</string>
	<key>34</key>
	<string>烟草烟具</string>
	<key>35</key>
	<string>广告营销</string>
	<key>36</key>
	<string>金融物管</string>
	<key>37</key>
	<string>建筑修理</string>
	<key>38</key>
	<string>通讯服务</string>
	<key>39</key>
	<string>运输储藏</string>
	<key>40</key>
	<string>材料加工</string>
	<key>41</key>
	<string>教育娱乐</string>
	<key>42</key>
	<string>网站服务</string>
	<key>43</key>
	<string>餐饮住宿</string>
	<key>44</key>
	<string>医疗园艺</string>
	<key>45</key>
	<string>社会服务</string>
</dict>
</plist>
